@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, 
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	font: inherit; 
	vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section { 
display: block; 
} 
body { 
	line-height: 1; 
	} 
ol, ul { 
	list-style: none; 
} 
blockquote, q { 
	quotes: none; 
} 
blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
/* END CSS */


.titulo_weather {
    font-family: "Science Gothic", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;

    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(227, 151, 38, 0.801);
    padding: 10px;
    width: 250px;
}

p img {
    width: 40px;
}

.elemento_lista_prediccion {
    margin: 10px;
    font-size: 16px;
    background-color: rgb(183, 194, 219);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;


}
.grados_celsius {
    font-size: 40px;
}
.container_weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: cover;
}
.home_weather {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 16px;
    font-family: "Science Gothic", sans-serif;

    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(227, 151, 38, 0.801);
    padding: 10px;
    color: black;
}
.currentweather {
    display: flex;
    gap: 20px;
}
.datos_secundarios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    height: 30px;
    background-color: rgb(183, 194, 219);
    margin: 10px;
    padding: 10px;
    font-family: "Science Gothic", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.795);
    font-weight: lighter;
    font-style: italic;
}

#weather {
    font-family: "Science Gothic", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(227, 151, 38, 0.801);
    box-shadow: 5px 5px 10px grey;
}

#imagen_actual {
    width: 80px;
}

#forecastWeather {
    display: flex;
    overflow: scroll;
}


#forecastWeather li p {
    font-size: 16px;
}