@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, 
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	font: inherit; 
	vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section { 
display: block; 
} 
body { 
	line-height: 1; 
	} 
ol, ul { 
	list-style: none; 
} 
blockquote, q { 
	quotes: none; 
} 
blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
/* END RESET CSS*/




.titulo_hora_y_fecha {
    font-family: "Science Gothic", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 110px;

    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(227, 151, 38, 0.801);
    padding: 10px;
}
.container_time_and_date {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: cover;
}

.home_time_and_date {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: "Science Gothic", sans-serif;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(227, 151, 38, 0.801);
    padding: 10px;
    color: black;
}
#timeDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-family: "Science Gothic", sans-serif;
    padding: 20px;
    width: 450px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(227, 151, 38, 0.801);
    box-shadow: 5px 5px 10px grey;
}
#timeArea {
    position: relative;
    left: -15px;
    width: 180px;
    font-size: 40px;
}
#dateArea {
    font-size: 20px;
}